body {
  background-image: url("../imgs/45degreee_fabric.png");
}

.form-group {
  padding: 5px 200px;
}

.form-container {
  margin: 100px 300px 5px 300px;
  border:1px solid black;
}

#search-container {
  border: 1px solid black;
  margin: 50px 150px;
  text-align: center;

}

#search-bar {
}

#input-text {
  height: 40px;
  width: 400px;
  font-size: medium;

}

#search {
  background-color: lightgreen;
  height: 40px;
  width: 80px;
  margin: 20px 0px 30px 30px;
  font-size: large;
  font-weight: bold;
}

#results {

}

.recipe-img {
  width: 120px;
}

.logo {
  max-width: 110px;
}