body {
  background-image: url("../imgs/plaid_@2X.png");
  padding-top: 55px;
  font-family: 'Signika', sans-serif;
}

a {
  text-decoration: none !important;
}

.form-group {
  padding: 5px 200px;
}

.navbar {
  font-size: 20px;
}

.nav {
  margin-left: 20px;
}

.navbar-btn{
  margin-left: 15px;
  font-size: 15px;
  font-style: comic-sans;
}

.form-container {
  margin: 100px 300px 5px 300px;
  border:1px solid black;
}

#search-container {
  border: 1px solid black;
  margin: 50px 150px;
  text-align: center;

}

#input-text {
  height: 40px;
  width: 400px;
  font-size: x-large;

}

#search {
  background-color: lightgreen;
  height: 40px;
  width: 80px;
  margin: 20px 0px 30px 30px;
  font-size: large;
  font-weight: bold;
}

#results {
  display: flex;
  flex-grow: 4;
  flex-flow: row wrap;
  justify-content: space-around;
}

.recipe-img {
  width: 120px;
}

.logo {
  max-width: 150px;
}

.container {
  background-image: url("../imgs/produce.jpg");
  background-size: cover;
  width: 100%;
  height: 1000px;
  text-align: center;
}

.main-img {
  margin-top: 100px;
  width: 70%;
}

.welcome {
  border: 1px solid black;
  text-align: center;
}

.recipe-front-page {
  border: 1px solid black;
  margin: auto;
  text-align: center;
  display: flex;
  flex-grow: 2;
  flex-flow: row wrap;
  justify-content: space-around;
  vertical-align: baseline;
}

.each-recipe {
  display: inline-block;
  margin: 70px ;
}

.user-front-page {
  background-image: url("../imgs/plaid_@2X.png");
  width: 85%;
  border: 1px solid black;
  margin: auto;
/*  position: fixed;
  top: 0;*/
  text-align: center;
}

.btn-clear-list {
  position: absolute;
  right: 130px;
  top: 130px;
}

.btn-text-list {
  position: absolute;
  left: 130px;
  top: 130px;
}

.user-message {
  color: red;
  display: inline;
}
