body {
  background-image: url("../imgs/plaid_@2X.png");
  padding-top: 55px;
  font-family: 'Signika', sans-serif;
}

a {
  text-decoration: none !important;
}
.form-group {
  padding: 5px 200px;
}

.navbar {
  font-size: 20px;
}

.nav {
  margin-left: 20px;
}

.navbar-btn{
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  font-style: comic-sans;
}

.form-container {
  margin: 100px 300px 5px 300px;
}

#search-container {
  margin: 50px 150px;
  text-align: center;

}

#input-text {
  height: 40px;
  width: 400px;
  font-size: x-large;

}

#search {
  background-color: lightgreen;
  height: 40px;
  width: 80px;
  margin: 20px 0px 30px 30px;
  font-size: large;
  font-weight: bold;
}

#results {
  display: flex;
  flex-grow: 4;
  flex-flow: row wrap;
  justify-content: space-around;
}


.blow-up {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
}

.recipe-img {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
}

.recipe-img {
  width: 120px;
}

.logo {
  max-width: 150px;
}

.container {
  background-image: url("../imgs/produce.jpg");
  background-size: cover;
  width: 100%;
  height: 1000px;
  text-align: center;
}

.main-img {
  margin-top: 100px;
  width: 70%;
}

.welcome {
  text-align: center;
}

.welcome-text {
  width: 50%;
  margin: auto;
  padding-top: 20px;
}

.recipe-front-page {
  margin: auto;
  text-align: center;
  display: flex;
  flex-grow: 2;
  flex-flow: row wrap;
  justify-content: space-around;
  vertical-align: baseline;
}

.each-recipe {
  display: inline-block;
  margin: 70px ;
}

.each-result {
}

.user-front-page {
  background-image: url("../imgs/plaid_@2X.png");
  width: 85%;
  margin: auto;
  padding-top: 20px;
/*  position: fixed;
  top: 0;*/
  text-align: center;
  border-radius: 30px;
  padding-bottom: 20px;
}

.btn-clear-list {
  position: absolute;
  right: 130px;
  top: 116px;
}

.btn-text-list {
  position: absolute;
  left: 130px;
  top: 116px;
}

.user-message {
  color: red;
  display: inline;
}

.create-recipe-form {
  margin-top: 60px;
  padding-top: 10px;
}

.create-recipe-form input {
  font-size: large;
}

.create-recipe-title {
  text-align: center;
}

.recipe-instructions {
  font-size: large;
}

