<div class="form-group">
<label for="exampleInputPassword1">Ingredient</label>
<input type="text" name="<%= ingredient %>" class="form-control ingredient-text" placeholder="e.g. 2 cups of flour">
</div>
<div class="form-group">
<button class="btn btn-default add-ingredient-button btn-sm btn-success">Add Ingredient</button>
</div>