<div class="nav-container">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo-container">
        <a href="/"><img class="logo" alt="Sous-Chef" src="/imgs/sous-chef-template3.png"></a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="/recipe/new">Create New Recipe</a></li>
        <li><a href="/recipe/search">Search Recipes</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <%= erb :_signout %>
        <% else %>
        <li><form action="/signup">
          <button type="submit" class="btn btn-lg navbar-btn btn-primary">Sign Up</button>
      <!-- <input type="submit" value="Sign Up"> -->
         </form><li>
          <li><form action="/login">
            <button type="submit" class="btn btn-lg navbar-btn btn-success">Log in</button>
          </form></li>

        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>