<div id="search-container">
  <h3>Search for new recipes</h3>
  <form id="search-form">
    <div id="search-bar">
      <input id="input-text" name="recipe" type="text" placeholder="What are you in the mood for?">
      <input id="search" type="submit" value="Search">
    </div>
  </form>
  <% if current_user %>
    <% if @message %>
      <div class="user-message">
      <h4><%= @message %></h4>
    </div>
  <% end %>

  <div id="results">
  </div>

  <% else %>
  <h3 class="user-message">
    You must be <a href="/login">logged in </a>to use the search feature
  </h3>
<% end %>

</div>
