<div id="search-container">
  <h3>Search for new recipes</h3>
  <form>
    <div id="search-bar">
      <input id="input-text" type="text" placeholder="What are you in the mood for?">
      <input id="search" type="button" value="Search">
    </div>
  </form>
  <div id="results">
  </div>
</div>