  <h3>Search for new recipes</h3>
  <form>
    <input id="input-text" type="text" placeholder="What are you in the mood for?">
    <input id="search" type="button" value="Search">
  </form>

  <div id="results">


  </div>