<div id="search-container">
  <h3>Search for new recipes</h3>
  <form id="search-form">
    <div id="search-bar">
      <input id="input-text" name="recipe" type="text" placeholder="What are you in the mood for?">
      <input id="search" type="submit" value="Search">
    </div>
  </form>
  <div id="results">
  </div>
</div>
